* { 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  body{
    background-color: #fce1e1!important;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control ,.form-select,#submitpage{
    box-shadow: 4px 4px 15px #ab1316;
}
.btn{
    box-shadow: 6px 6px 12px rgb(99, 131, 188)!important;
}
  .container.form {
    
    position: absolute;
    width: 40%;
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 20px #808080;
    border: 5px solid #ab1316;
    border-top: none;
    border-bottom: none;
    border-radius: 3rem;
    
  }
  
  #submitpage{
    width: 50vw;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 2px solid #ab1316;
  }
